/* MooresLights LightCloud™ ®© 
*/

/* Settings */
@import "settings";

/* Foundation */
@import "foundation";

/* Google */
@import url(http://fonts.googleapis.com/css?family=Arvo|Droid+Sans|Droid+Serif:400,700);

/* 3Easy */

/* Typography */

h1, h3, h5 {
	color: #999999;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}

h2, h4, h6 {
	color: #999999;
	font-family: 'Droid Serif', serif;
	font-weight: normal;
}

body, p {
	color: #999999;
	font-family: 'Droid Sans', sans-serif;
}

.intro p {
	font-size: 1.7rem;
}

a {
	color: #ffffff;
	&:hover {
		color: #ffffff;
		text-decoration: underline;
	}
}

/* Colors */

$g: #00ff00;
$r: #ff0000;
$b: #0000ff;
$c: #00ffff;
$y: #ffff00;
$m: #ff00ff;

body {
	background: #000 url(../images/lights.png) repeat-y center -5%;
	height: 10000px;
}

.row {
	background: rgba(0, 0, 0, .8);
}

.no-rgba .row {
/* 	background: url(../images/black-gradient.png) repeat; */
}

/* Product */

.product {
	background: #000000;
	width: 100%;
	img {
		margin: 0 auto;
		background: $r;
		display: block;
		-webkit-animation: cloudrgb 20s infinite 3s alternate;
	}
}

.down {
	position: absolute;
	left: 50%;
	bottom: 1em;
}

/* Nav */

.nav {
	background: #4a4a4a;
	border-radius: 0;
	width: 100%;
	z-index: 1;
}

.nav .row {
	margin-bottom: 0;
	background: none;
}

.nav ul li {
	font-family: Arvo, sans-serif;
	font-size: 1.5rem;
	color: #0d0d0d;
	list-style: none;
	float: left;
	a {
		padding: 18px 12px;
		color: #0d0d0d;
		&:hover {
			text-decoration: none;
		}
	}
}

.nav ul li.up {
	background: url(../images/up.png) no-repeat left top;
	width: 35px;
	height: 22px;
}

.fixed {
	position: fixed;
}

/* Rows & Columns  */

.row {
	margin-bottom: 12px;
	padding-top: 15px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 15px;
	border-radius: 10px;
}

.row.logo {
	margin-bottom: 0;
	padding: 0;
	border-radius: 0;
}

.row.intro {
	padding-top: 0;
	border-radius: 0 0 10px 10px;
}

.column, .columns {
	
}

/* Animations */

@-webkit-keyframes cloudrgb {
	0% {
		background: $r;
	}
	33.333333% {
		background: $g;
	}
	66.666666% {
		background: $b;
	}
	100% {
		background: $r;
	}
}