/* MooresLights LightCloud™ ®© 
*/

/* Settings */
@import "settings";

/* Foundation */
@import "foundation";

/* Google */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,700);

/* 3Easy */

/* Typography */

h1, h3, h5 {
	color: #999999;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}

h2, h4, h6 {
	color: #999999;
	font-family: 'Droid Serif', serif;
	font-weight: normal;
}

body, p {
	color: #999999;
	font-family: 'Droid Sans', sans-serif;
}

a {
	color: #ffffff;
	
	&:hover {
		color: #ffffff;
		text-decoration: underline;
	}
}

/* Rows & Columns  */

.row {
	margin-bottom: 10px;
	background: rgba(0, 0, 0, .8);
	padding-top: 15px;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 20px;
}

.row.logo {
	margin-bottom: 0;
	padding: 0;
	border-radius: 0;
}

.row.intro {
	padding-top: 0;
	border-radius: 0 0 20px 20px;
}

.column, .columns {
	
}

/* Colors */

$g: #00ff00;
$r: #ff0000;
$b: #0000ff;
$c: #00ffff;
$y: #ffff00;
$m: #ff00ff;

body {
	background: #000 url(../images/lights.png) repeat-y center center;
}

.no-rgba .row {
/* 	background: url(../images/black.png) repeat; */
}