/* 
	@project: Light by Moore’sCloud
	@author: @3Easy
	@domain: moorescloud.com
	@file: Sassy CSS3
	
*/

@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Arvo|Droid+Sans|Droid+Serif:400,700);
@import url(../webfonts/ss-social.css);
@import url(../webfonts/ss-standard.css);

/* Colors */

	$green: #00ff00;
	$red: #ff0000;
	$blue: #0000ff;
	$cyan: #00ffff;
	$yellow: #ffff00;
	$magenta: #ff00ff;
	$greylight: #777777;
	$greydark: #4a4a4a;
	$greydeep: #0d0d0d;
	$black: #000000;
	$white: #ffffff;
	$title: #999999;
	
body, 
.black {
	background: $black;
}

.lights {
	background: $black url(../images/lights.png) repeat-y 50% -470px;
	padding-bottom: 150px;
	.lt-ie9 & {
		background-color: $green;
	}
}

.fade {
	background: transparent url(../images/fade.png) repeat-x 0 0;
}


/* Layout */

.js #nav, 
.js #content {
	display: none;
}

.no-js #nav, 
.no-js #content {
	display: block;
}

.fixed {
	position: fixed;
}

.panel {
	margin: 20px 20px 0px;
	border: none;
	padding: 10px 40px 20px;
	background: rgba(0, 0, 0, .8);
	@include border-radius(10px);
}

.panel.callout {
	border: none;
	padding-top: 30px;
	padding-bottom: 0;
	background: none;
	@include box-shadow(none);
}

/* Typography */

h1, h3, h5 {
	color: $title;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}

h2, h4, h6 {
	color: $title;
	font-family: 'Droid Serif', serif;
	font-weight: normal;
}

body, p {
	color: $title;
	font-family: 'Droid Sans', sans-serif;
}

.intro h2 {
	color: $white;
	text-align: right;
	@include text-shadow (rgba($black, .35) 1px 1px 0);
}

.intro h3 {
	color: $white;
	text-align: right;
	@include text-shadow (rgba($black, .35) 1px 1px 0);
}

.intro p {
	color: $black;
	text-align: right;
	font-size: 2rem;
	@include text-shadow (rgba($white, .35) 1px 1px 0);
}

/* Links */

a {
	color: $white;
	@include transition-property(all);
	@include transition-duration(.25s);
	@include transition-timing-function(linear);
	&:hover {
		color: $white;
		text-decoration: underline;
	}
}

p.more, p.less,
p.slip, p.slide {
	color: $white;
	&:hover {
		cursor: pointer;
	}
	a {
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
}

/* Product */

#product {
	background: $black;
	position: relative;
	#shots {
		img {
			margin: 0 auto;
			border-style: none;
			background: $black;
			display: block;
			line-height: 0;
			-webkit-animation: lightcloud 10s infinite 1s alternate;
			-moz-animation: lightcloud 10s infinite 1s alternate;
			-ms-animation: lightcloud 10s infinite 1s alternate;
			-o-animation: lightcloud 10s infinite 1s alternate;
			animation: lightcloud 10s infinite 1s alternate;
			-webkit-transform: rotateZ(0deg);
		}
	}
	#down {
		width: 100%;
		position: absolute;
		bottom: 50px;
		z-index: 3;
		a {
			color: $greydark;
			font-size: 4rem;
			display: block;
			text-align: center;
			&:hover {
				color: $greylight;
				text-decoration: none;
			}
		}
	}
	.orbit {
		margin-bottom: 0;
	}
}



/* Nav */

.nav {
	background: $greydark;
	color: $greydeep;
	font-family: Arvo, sans-serif;
	font-size: 1.5rem;
	width: 100%;
	text-align: center;
	z-index: 4;
	ul {
		margin: 15px 0 5px;
		display: inline-block;
		li {
			list-style: none;
			float: left;
			a {
				padding: 18px 12px 20px;
				color: $greydeep;
				&:hover {
					color: $white;
					text-decoration: none;
				}
				&.current {
					color: $white;
				}
			}
		}
	}
}

.nav a.ss-icon {
	padding: 17px 10px 10px;
	font-size: 2rem;
}

.nav.show-for-small {
	min-height: 54px;
	ul.mobi {
		padding: 0 35px;
		display: none;
		text-align: left;
		li {
			float: none;
			a {
				padding: 0;
				display: block;
			}
		}
	}
	ul.moreorless {
		float: right;
		.mobiless {
			display: none;
		}
		li.mobiless, 
		li.mobimore {
			cursor: pointer;
		}
	}
}

/* Team */

.team figure {
	min-height: 350px;
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.team figure img.off {
	opacity: 1;
	@include transition-property(opacity);
	@include transition-duration(.1s);
	@include transition-timing-function(linear);
	&:hover {
		opacity: 0;
	}
}

.team figure img.on {
	opacity: 0;
	@include transition-property(opacity);
	@include transition-duration(.25s);
	@include transition-timing-function(linear);
	&:hover {
		opacity: 1;
	}
}

.team .row {
	&:hover {
		figure img.on {
			opacity: 1;
		}
	}
}

.touch .team figure img {
	opacity: 1;
}

/* Contact */
.contact .row {
	padding-top: 30px;
}

.contact .social span {
	font-size: 4rem;
	a {
		padding: 15px 5px;
		color: $greylight;
		float: right;
		&:hover {
			color: $white;
		}
	}
}

/* LightCloud Animation */

@-webkit-keyframes lightcloud {
	0% {
		background: $black;
	}
	12.5% {
		background: $green;
	}
	25.0% {
		background: $yellow;
	}
	37.5% {
		background: $red;
	}
	50.0% {
		background: $magenta;
	}
	62.5% {
		background: $blue;
	}
	75.0% {
		background: $cyan;
	}
	87.5% {
		background: $white;
	}
	100% {
		background: $black;
	}
}

@-moz-keyframes lightcloud {
	0% {
		background: $black;
	}
	12.5% {
		background: $green;
	}
	25.0% {
		background: $yellow;
	}
	37.5% {
		background: $red;
	}
	50.0% {
		background: $magenta;
	}
	62.5% {
		background: $blue;
	}
	75.0% {
		background: $cyan;
	}
	87.5% {
		background: $white;
	}
	100% {
		background: $black;
	}
}

@-ms-keyframes lightcloud {
	0% {
		background: $black;
	}
	12.5% {
		background: $green;
	}
	25.0% {
		background: $yellow;
	}
	37.5% {
		background: $red;
	}
	50.0% {
		background: $magenta;
	}
	62.5% {
		background: $blue;
	}
	75.0% {
		background: $cyan;
	}
	87.5% {
		background: $white;
	}
	100% {
		background: $black;
	}
}

@-o-keyframes lightcloud {
	0% {
		background: $black;
	}
	12.5% {
		background: $green;
	}
	25.0% {
		background: $yellow;
	}
	37.5% {
		background: $red;
	}
	50.0% {
		background: $magenta;
	}
	62.5% {
		background: $blue;
	}
	75.0% {
		background: $cyan;
	}
	87.5% {
		background: $white;
	}
	100% {
		background: $black;
	}
}

@keyframes lightcloud {
	0% {
		background: $black;
	}
	12.5% {
		background: $green;
	}
	25.0% {
		background: $yellow;
	}
	37.5% {
		background: $red;
	}
	50.0% {
		background: $magenta;
	}
	62.5% {
		background: $blue;
	}
	75.0% {
		background: $cyan;
	}
	87.5% {
		background: $white;
	}
	100% {
		background: $black;
	}
}

/* @3Easy Woz ‘Ere :O) */